<div class="center">
    <form action="/users/login" method='post'>
        <input type="email" name="email" placeholder="example@gmail.com" />
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm password" placeholder="confirm Password">
        <input type="submit" value="Submit">
    </form>
</div>